<div layout="row" class="userInputWrap" md-whiteframe="3" layout-align="center start">
    <md-input-container flex="30" flex-md="40" flex-gt-lg="30" flex-lg="30">
        <label for="artistInput" class="search">Add artist</label>
        <input ng-model="searchArtist" id="artistInput" class="search" style="padding-bottom: 0;">
    </md-input-container>
    <md-button class="btn md-primary md-raised" flex="20" flex-lg="20" flex-gt-lg="20" flex-md="40" ng-click="spotifyData()">Go</md-button>
</div>
